.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: center;

    color: #FFFFFF;
    z-index: 10;

    display: flex;

    width: 360px;
    height: 66px;
    margin: 0;
}