.cover__overlay {
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 5;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1184px;
    height: 740px;
    position: absolute;
}

.cover__overlay:hover {
    opacity: 0.8;
  }