.footer {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 92px 48px 24px 48px;
    width: 100%;
    width: 1184px;
    height: 18px;
}